
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
  --grey-color: grey;
  --white: #ffffff;
  --font-family-releway: 'Raleway', sans-serif;
}

body {
  box-sizing: border-box;
  font-family: $font-raleway;
}

input, button, button:focus {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: inherit;

  &:focus{
    border:none;
    outline: none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: inherit;
  }
}
