@import "./sass/mixins";

.SearchContainer{
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 19%;
  padding-bottom: .6rem;
}

.StudentsContainer{
  overflow-y: scroll;
  width: 100%;
  height: 81%;

  @include respond(tab-land){
  }

  @include respond(phone){
    width: 100vw;
  }
}


.ReadMe{
  position: absolute;
  bottom: 2vh;
  left: 2vw;
  z-index: 1;
  color: inherit;
  display: flex;
  align-items: flex-end;
  color: blue;
  font-weight: bold;
  transition: all .2s ease;
  z-index: 40000000;

  @include respond(tab-land){
  }

  @include respond(phone){
    text-align: center;
  }

  &:hover{
    cursor: pointer;
    transform: translateY(-.3rem);
  }

  .Text{
    margin-left: .5rem;
  }
}

